<div class="container" *ngIf="totalBill==0 " style="margin-top: 5%;" >
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body cart">
                  <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                      <h3><strong>Your Cart is Empty</strong></h3>
                      <h4>Add something to make you happy :)</h4> <a routerLink="../home" *ngIf="totalBill==0" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                    </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container-xxl" style="margin-top: 5%;" >
  <div>
    <button *ngIf="totalBill!=0"  type="button" class="btn onSubmit  float-right fixed-bottom" style="margin-right: 50%; margin-bottom: 20%; background: -webkit-linear-gradient(right, #5971db, #150f18);; font-family: cursive; font-weight: bold;
    color: #fff;" (click)="resetCart()">Reset Cart</button>

    <a routerLink="/thankyou" *ngIf="totalBill!=0 && isUserLogin" type="button" class="btnSubmit  float-left btn  cart-btn-transform fixed-bottom" style=" margin-right: 25%; margin-left: 25%;margin-bottom: 2%; background-color: rgb(5, 23, 75); font-weight: bold; font-family: cursive;  " (click)="buyBooks()">TOTAL Bill: {{totalBill}}/-<br> Buy Now</a>

  </div>

    <table class="table table-stripped center container-xxl" *ngIf="totalBill!=0" style="width: 70%; text-align: center ; ">
        <thead class="thead-light " >
        <tr>
            <th style="font-weight: bold; font-family: cursive;" scope="col">Book Name</th>
            <th style="font-weight: bold; font-family: cursive;" scope="col">Book</th>
            <th style="font-weight: bold; font-family: cursive;" scope="col">Quantity</th>
            <th style="font-weight: bold; font-family: cursive;" scope="col">Price</th>
            <th style="font-weight: bold; font-family: cursive;" scope="col">Delete cart item</th>
        </tr>
        </thead>
        <tbody>
            <!-- <div > -->

                <tr *ngFor="let card of cartData" style="text-align: center;">
                    <td style="font-family: cursive; font-weight: bold;">{{card.cartBookName}}</td>
                    <td><img class="card-img-top center"
                        [src]="card.cartBookImage"
                        style="height: 18rem; width: 80%;   display: block;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 30px;"
                        alt="Card image cap"/></td>
                    <td style="font-weight: bold; font-family: cursive;" >{{card.quantity}}</td>
                    <td style="font-weight: bold; font-family: cursive;" >{{card.cartBookPrice}}/-</td>
                    <td style="font-weight: bold; font-family: cursive;" ><button type="button" class="btnSubmit"   (click)="deleteItem(card.cartBookID)">Delete</button></td>
                </tr>
            <!-- </div> -->
        </tbody>
    </table>
    <div>
        <h5 style="font-family: cursive,Times, serif; margin-left: 40%; font-size: medium; font-weight: bold;" *ngIf="totalBill!=0"  >TOTAL: {{totalBill}}/-</h5><br>
        <h5 style="font-family: cursive,Times, serif; margin-left: 37%; font-weight: bold;" *ngIf="totalBill!=0" class="blink_me" >Log In To Buy</h5>

    </div>
</div>
