p,h4
{
 font-family: cursive;
 font-weight: bold;
 color:rgb(9, 61, 95);
}

.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 3%;
    cursor: pointer;
    background: -webkit-linear-gradient(right, #b18348d7, #7917aa);
    color: #fff;
    font-family: cursive;
}
/* .btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: -webkit-linear-gradient(right, #c98a39, #7917aa);
    font-family: cursive;
    color: #fff;
} */
.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #07090a, #2586c7);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    font-size: x-large;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 60%;
  }
}


