.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #09192b, #9726cf);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    font-size: xx-large;
    font-family: cursive;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
  border:none;
  border-radius:1.5rem;
  padding: 1%;
  width: 20%;
  cursor: pointer;
  background: -webkit-linear-gradient(right, #c98a39, #7917aa);
  font-family: cursive;
  color: #fff;
}

