<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register-form " style="margin-top: 5%;">
            <div class="form">
                <div class="note">
                    <p>Sign Up</p>
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="fullName" id="FullName" placeholder="Your Name *" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <input type="email" class="form-control" formControlName="email" id="EmailID" placeholder="Email ID *" value=""/>
                        </div>

                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" formControlName="password" id="Password" placeholder="Your Password *" value=""/>
                      </div>
                    </div>
                    <button type="submit" style="margin-left: 40%;" class="btnSubmit" [disabled]="!registerForm.valid">Submit</button>
                </div>
              </form>
            </div>
            <marquee behavior="alternate" direction="right" style="font-size: larger; margin-top: 3%; font-family: cursive; color: rgb(11, 11, 80); font-weight: bolder;" >“A good bookshop is just a genteel Black Hole that knows how to read.”!</marquee>
        </div>
